@font-face {
  font-family: 'MFTaoJiu';
  src: url(../../public/fonts/MFTaoJiu_Noncommercial-Regular.otf) format('opentype');
}
@font-face {
  font-family: 'MFXiHei';
  src: url(../../public/fonts/MFXiHei_Noncommercial-Light.otf) format('opentype');
}

html {
  background-color: #f9f1db;
  font-family: Courier New, Courier, MFXiHei, monospace;
  --color-black: #36282b;
  --color-thing: #de7622;
  --color-red: #bf1a1f;
}

h1 {
  font-family: MFTaoJiu, Georgia, 'Times New Roman', Times, serif;
}

a {
  color: var(--color-thing);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;

  color: var(--color-black);
}

* {
  box-sizing: border-box;
}