---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="你好吗？" current="about">
  <p>我是黄晨轩。暂时没有主业，闲暇时写代码以自娱。</p>
</BaseLayout>

<style>
  h1 {
    color: purple;
    font-size: 4rem;
  }
</style>
