---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout>
  <p>现在这个网站，</p>
  <p style="font-size: 8rem; transform: rotate(30deg);">&nbsp;好难看！</p>
  <p><strong>该怎么修改？</strong></p>
</BaseLayout>
