---
import { Image } from 'astro:assets';
const {url, image, alt} = Astro.props;
---
<style>
  .card {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
  }

  .card img {
    display: block;
    width: 100%;
    height: auto;
  }

  .card .url {
    color: blue;
    text-decoration: underline;
  }
</style>

<div class="card">
  <Image src={image} alt={alt}/>
  <a class="url" href={url}>{url}</a>
</div>
