---
import Social from "./Social.astro";
---
<style>
  footer {
    margin-top: 2rem;
    padding: 1rem;
    text-align: center;
    font-size: 0.8rem;
  }
</style>

<footer>
  <p>要不，<a href="mailto:huangcx22@mails.tsinghua.edu.cn">给我发邮件</a>？</p>
  <p>
    或者，在<a href={`https://github.com/RebelPotato`}>这里</a
    >看看我的新项目？
  </p>
  <Social platform="github" username="RebelPotato" />
</footer>
